<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask SSIS</title>
    <link rel="stylesheet" href="/static/bootstrap.css"/>
  </head>
<body data-bs-theme="dark">
{% block headings %}
<!-- bootstrap container -->
    <div class="container-sm">
        <br/>
        <h1 class="headings">
            Colleges
        </h1>
    <br/>
    <!-- REDIRECT TO HOMEPAGE -->
    <div class="row gx-0">
      <div class="col-1">
            <a type="button" class="btn btn-light" href="home">
                Back
            </a>
        </div>
        <div class="col col-1">
            <a type="button" class="btn btn-secondary" href="students">
                Students
            </a>
        </div>

        <div class="col col-8">
            <a type="button" class="btn btn-secondary" href="courses">
                Courses
            </a>
        </div>
          <div class="col-6 col-md-2">
            <button type="submit" class="btn btn-warning btn-outline-dark btn-lg"
            data-bs-toggle="modal"
            data-bs-target="#addModal">
                Add College
            </button>
            </div>
          </div>
{% endblock %}
    <!-- REDIRECT TO HOMEPAGE -->
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Invalid!</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% elif category == "secondary" %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Note:</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    {% endwith%}

    <!-- SEARCH FUNCTION -->
    {% block Search_function %}
    <div class="container">
        <form action="{{ url_for('Clbp.colleges') }}" method="POST">
            <label>Search Filters:</label>
            <div class="input-group mb-3">
                <select class="form-select btn-outline-dark" aria-label="Default select example" id="college_key_Code"  name="college_key_Code">
                    <option selected>By College Code</option>
                    {% for row in College %}
                    <option value="{{ row['collegeCode'] }}">{{ row['collegeCode'] }}</option>
                    {% endfor %}
                </select>
                <select class="form-select btn-outline-secondary" aria-label="Default select example" id="college_key_Name"  name="college_key_Name">
                    <option selected>By College Name</option>
                    {% for row in College %}
                    <option value="{{ row['collegeName'] }}">{{ row['collegeName'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group mb-3">
                <input type="text" name="college_key" class="form-control" placeholder="Look for a college"
                aria-label="Look for a college" aria-describedby="search-button">
                <button type="submit" class="btn btn-outline-secondary" id="search-button">
                    Search
                </button>
                </div>
            </div>
        </div>
     </form>
    </div>
    {% endblock %}
    <!-- SEARCH FUNCTION ENDS HERE -->

    {% block colleges_table %}
    <!-- DISPLAY THE DATABASE INTO A TABLE -->
    <div class="container-sm">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>College Code</th>
                    <th>Collge Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
        {% for row in College %}
        <tr>
            <td class="">{{row['collegeCode']}}</td>
            <td>{{row['collegeName']}}</td>
        <td>
        <!-- EDIT FUNCTION TRIGGER BUTTON -->
        <a href="" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editModal{{ row['college_id'] }}">
            Edit
        </a>
            <div class="modal fade" id="editModal{{ row['college_id'] }}" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModal{{ row['college_id'] }}">Edit College Information</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form action="{{ url_for('Clbp.edit_college') }}" method="POST">
                            <div class="form-group">
                                <input type="hidden" name="college_id" value="{{ row['college_id'] }}" class="form-control" id="college_id">
                                </div>
                                <div class="form-group">
                                <label for="collegeCode">Update College Code into:</label>
                                <input type="text" name="collegeCodeEdit" value="{{ row['collegeCode'] }}" class="form-control" id="collegeCodeEdit" placeholder="Enter New College Code">
                                </div>
                                <div class="form-group">
                                <label for="collegeName">Update College Name into:</label>
                                <input type="text" name="collegeNameEdit" value="{{ row['collegeName'] }}" class="form-control" id="collegeNameEdit" placeholder="Enter New College Name">
                                </div>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success btn-outline-dark">Update</button>
                                </div>
                            </form>
        </td>
        <!--DELETE FUNCTION-->
        <td>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ row['collegeCode'] }}">
                Delete
              </button>
             <div class="modal fade" id="deleteModal{{ row['collegeCode'] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModal{{ row['collegeCode'] }}">Deletion</h5>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete this college information?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                     <a href="/delete_college/{{ row['collegeCode'] }}" class="btn btn-danger">
                Confirm
            </a>
                    </div>
                  </div>
                </div>
              </div>
        </td>
        </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}


    <div class="container">
          <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="addModal">Add New College Information</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('Clbp.add_college') }}" method="POST">
                        <div class="form-group">
                        <label for="collegeCode">College Code</label>
                        <input type="text" name="collegeCode" class="form-control" id="collegeCode" placeholder="e.g. CCS">
                        </div>
                        <div class="form-group">
                        <label for="collegeName">College Name</label>
                        <input type="text" name="collegeName" class="form-control" id="collegeName" placeholder="e.g. College of Computer Studies">
                        </div>
                    </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-warning btn-outline-dark">Add</button>
                          </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
    </div>

        <script src="static/jquery-3.6.0.js"></script>
        <script src="static/bootstrap.js"></script>
        <script src="static/bootstrap.bundle.min.js"></script>
    </div>


</body>
    </html>
