.main_header{
    color: white;
    font-size: 54px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
    background-color: rgb(33, 37, 41);
    /* background-image: linear-gradient(rgba(20, 19, 20, 1), rgba(37, 34, 37, 1)); */
}


.selection{
    text-align: center;
    overflow: hidden;  
    padding: 30px;
    margin: 15px;
}

/* This is for the homescreen card selection*/
.cards{
    display: inline-block;
    background-color: rgba(68, 68, 68, 1);
    padding: 30px;
    margin: 30px;
    min-height: 250px;
    min-width: 150px;
    border-bottom: 3px solid rgba(184, 184, 184, 0.75);
    border-radius: 12px;
    transition: background-color 1s;
    overflow: hidden;
}

.cards .students{
    background-image: url("/static/students.jpg");
}

.student_image{

    display: inline-block;
    padding: 30px;
    margin: 30px;
    height: 80px;
    width: 30px;
    border-bottom: 3px solid rgba(24, 209, 255, 0.747);
    border-radius: 12px;
    transition: background-color 1s;
    overflow: hidden;
}

.cards:hover{
    background-color: rgba(199, 199, 199, 1);
}
/* card styling ends here */

.data{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

a:active, a:hover, a:link, a:visited{
    color: white;
}